# VS Code and tools settings 
.vscode/**
.gitignore
.eslintrc.json
.babelrc
jsconfig.json
webpack.config.js

# Sources
out/**
src/**

# Transpiler mapping files 
**/*.map

# Tests
.vscode-test/**
test/**

# Docs
vsc-extension-quickstart.md

# Modules
node_modules/**
native_modules
!node_modules/@serialport
!node_modules/bindings
!node_modules/debug
!node_modules/file-uri-to-path
!node_modules/ms
!node_modules/serialport
